<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    {%- if page.noindex %}
    <meta name="robots" content="noindex">
    {%- endif %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body>
    {{ content }}
    {%- unless page.layout == "disclosure" %}
      {% include footer.html %}
    {%- endunless %}
    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
  </body>
</html>
